<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <h1>Tablero</h1>
    <div class="tablero">
        <div class="fila-casillas">
            <div class="casilla-blanca-izq"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
        </div>
        <div class="fila-casillas">
            <div class="casilla-negra-izq"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
        </div>
        <div class="fila-casillas">
            <div class="casilla-blanca-izq"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
        </div>
        <div class="fila-casillas">
            <div class="casilla-negra-izq"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
        </div>
        <div class="fila-casillas">
            <div class="casilla-blanca-izq"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
        </div>
        <div class="fila-casillas">
            <div class="casilla-negra-izq"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
        </div>
        <div class="fila-casillas">
            <div class="casilla-blanca-izq"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
        </div>
        <div class="fila-casillas">
            <div class="casilla-negra-izq"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
        </div>
    </div>
</body>
<footer>
    <h3>Creado por Juan Soto - 06/06/2019</h3>
</footer>
</html>