<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <h1>Tablero</h1>
    <div class="tablero">
        <div class="fila-casillas">
            <div class="casilla-blanca-izq"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
        </div>
        <div class="fila-casillas">
            <div class="casilla-negra-izq"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
        </div>
        <div class="fila-casillas">
            <div class="casilla-blanca-izq"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
        </div>
        <div class="fila-casillas">
            <div class="casilla-negra-izq"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
        </div>
        <div class="fila-casillas">
            <div class="casilla-blanca-izq"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
        </div>
        <div class="fila-casillas">
            <div class="casilla-negra-izq"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
        </div>
        <div class="fila-casillas">
            <div class="casilla-blanca-izq"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
        </div>
        <div class="fila-casillas">
            <div class="casilla-negra-izq"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
        </div>
    </div>
    <div style="margin: auto;">
            <button class="btn btn-primary btn-md">Botón</button>
            <button class="btn btn-danger btn-md">Botón</button>
            <button class="btn btn-success btn-md">Botón</button>
            <button class="btn btn-warning btn-md">Botón</button>
            <button class="btn btn-primary btn-xl">Botón</button>
            <button class="btn btn-default btn-md">Botón</button>
    </div>
</body>
<footer>
    <h3>Creado por Juan Soto - 06/06/2019</h3>
</footer>
</html>